<div class="row">
	<div class="col-md-1"></div>
    <div class="col-md-4">
        <input class="form-control" [(ngModel)]="newCategoryTitle" style="padding:15px;">
        <button class="btn btn-primary" (click)="createCategory()" style="margin:15px">Kategória Hozzáadás</button>
    </div>
	<div class="col-md-1"></div>
	<div class="col-md-1"></div>
    <div class="col-md-4">
        <ul>
            <li *ngFor="let category of categories" style="padding:15px;">
                {{ category.title }}
                <button class="btn btn-sm btn-danger" (click)="deleteCategory(category.id)">Kategória Törlése</button>
            </li>
        </ul>
    </div>
	<div class="col-md-1"></div>
</div>
