html{
  background-color: #f0f0f0;
}
body{
background-color: red;
}
.form-group
{
  padding-top:10px
}
.bg-dark {
font-weight: bold;
    background-color: #ff8e23 !important;
	color:black;
}
.bg-light
{
background-color:red !important;
}
.navbar-dark .navbar-nav .nav-link {
 vertical-align: baseline;
    padding:10px;
    color: black;
}

.container
{
font-weight: bold;
width:100%;
padding-top:20px;
padding-bottom:150px;

background-color:#585757;

}
.table td
{
color:#ff8e23;
}
.form-control:focus
{
border-color:none;
border:0 solid #ff8e23;
box-shadow: 0 0 0 .1rem #ff8e23;
}
.card-body
{
background-color:#585757;
}
.card
{
border:1px solid #ff8e23;
}
h1
{
text-align:center;
}
.col-md-4
{
color:#ff8e23;
}

.bg-img
{padding:180px;
margin:0;
margin-bottom:30px;
vertical-align: bottom;
color:white;


}
.form-controll{
padding-left:20px;
padding-right:20px;
}
.typewriter h1 {
	padding:50px;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}